<h1>My App</h1>
<nav>
    <ul>
        <li *ngFor="let route of routes">
            <a  [routerLink]="route.url" routerLinkActive="active">{{route.linkName}}</a>
            <br>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

<app-hello-world></app-hello-world>
<app-date></app-date>
<app-address-card [user]="userField"></app-address-card>
<input type="text" [value]="inputText" />
{{ inputText }}
<input type="text" [(ngModel)]="inputText" />

<app-view-component></app-view-component>
