<h1>My App</h1>
<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings Component</a></li>
    </ul>
</nav>

<app-hello-world></app-hello-world>
<app-date></app-date>
<app-address-card [user]="userField"></app-address-card>
<input type="text" [value]="inputText" />
{{ inputText }}
<input type="text" [(ngModel)]="inputText" />

<app-view-component></app-view-component>



<router-outlet></router-outlet>